h1{color: brown;
    word-spacing: 10px;
    text-align: center;
    font-size: 2.5rem;



}

.buttons{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 8rem;


    
}
.buttons button{
    font-size:3rem ;
    cursor:pointer;
    background-color: white;
    border: none;
    
}
#pick{
    margin-top: 4.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#pick > div{
    font-size: 2rem;
    font-weight:bold;
}
#final{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5rem;

}
#final > div{
    font-size: 3.5rem;
}
#result{color:black; 
        margin-top: 4rem;
        text-align:center;
}
