body{ background:linear-gradient(to right, #3eedc7, #44ed3e);

}

h1{ font-size:50px;
    font-family:cursive;
    margin:50px;
 


}
#first{ color:rgb(255,0,0);

    
}
#second{ color:rgb(0,0,255);

}
h2{ margin:100px;

}
a{ text-decoration:none;
    font-color:rgb(255,0,0);

}

